@import "tailwindcss";
/* Import Tailwind */

/* globals.css */
:root {
  --background: 0, 0%, 90%;
  --foreground: 0, 0%, 10%;
  --border: 0, 0%, 60%;
  --surface: 0, 0%, 88%;
  --button: 240, 100%, 40%;
  --blue: 220, 100%, 50%;
  --success: 120, 100%, 40%;
  --warning: 60, 100%, 40%;
  --error: 0, 100%, 40%;
}

[data-theme='dark'] {
  --background: 0, 0%, 10%;
  --foreground: 0, 0%, 90%;
  --border: 0, 0%, 20%;
  --surface: 0, 0%, 12%;
  --button: 240, 100%, 25%;
  --blue: 220, 100%, 40%;
  --success: 120, 100%, 25%;
  --warning: 60, 100%, 25%;
  --error: 0, 100%, 25%;
}


/* Custom container */
.custom-container {
  max-width: 90rem;
  /* 1440px */
}

/* Custom scrollbar for the command palette */
::-webkit-scrollbar {
  width: 1px;
  height: 1px !important;
}

::-webkit-scrollbar-track {
  @apply bg-gray-800;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-600 rounded;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-500;
}


/* Global body styles */
body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  font-family: Arial, Helvetica, sans-serif;
}