@import "tailwindcss"; /* Import Tailwind */

/* globals.css */
:root {
  --background: 0, 0%, 95%;  /* Light mode background */
  --foreground: 210, 40%, 10%; /* Light mode foreground */
  --surface: 0, 0%, 92%; /* Light mode surface */
  --border: 210,20%,65%; /* Light mode border */
  --color-border: 240, 100%, 60%; /* Light mode border color */
}

[data-theme='dark'] {
  --background: 0 0% 10%;
  --foreground: 210 40% 98%;
  --surface: 0 0% 9%;
  --border: 217, 14%, 30%;
  --color-border: 240, 100%, 70%; /* Light mode border color */
}


/* Custom container */
.custom-container {
  max-width: 90rem; /* 1440px */
}

.scrollbar-none {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.scrollbar-none::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}


/* Global body styles */
body {
  background-color: hsl(var(--background));
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
